@import "../../colors/colors";

.burger-menu {
  display: inline-block;
  width: 64px;
  background-color: $black;
  height: 100vh;

  &__buttons {
    position: absolute;
    top: 4.8%;
    z-index: 9;
    height: 25px;
    left: 15.5px;
    }
  }

  &._open {
    width: 52.5%;
    z-index: 3;

    &::before {
      position: absolute;
      width: 100vw;
      height: 100vh;
      background: rgba(21, 27, 31, 0.81);
      z-index: 2;
      content: '';
    }
  }
  &__language {
    position: absolute;
    left: 20px;
    bottom: 30px;
    font-size: 13px;
    font-weight: bold;
    color: $green;
    margin: 0;
    background: none;
    border: none;

    &:hover {
      cursor: url("../../assets/pointer.svg"), pointer;
    }

    &_mobile {
      display: none;
    }
  }




@media (max-width: 1439px) {
  .burger-menu {
    &._open {
      width: 62%;
      z-index: 3;

      &::before {
        position: absolute;
        width: 100vw;
        height: 100vh;
        background: rgba(21, 27, 31, 0.81);
        z-index: 2;
        content: '';
      }
    }
  }
}

@media (max-width: 1023px) {
  .burger-menu {
    &._open {
      width: 100%;

      &::before {
        background: rgba(21, 27, 31, 0.81);
      }
    }
  }
}

@media (max-width: 767px) {
  .burger-menu__language {
    display: none;

    &_mobile {
      z-index: 3;
      display: block;
    }
  }

  .burger-menu {
    display: inline-block;
    width: 40px;
    background: none;
    height: 40px;

    &._open {
      width: 100%;

      &::before {
        position: absolute;
        width: 100vw;
        height: 100vh;
        background-color: $black;
      }
    }

    &__item-color_open {
      stroke: $black;
    }

    &__buttons {
      top: 24px;
      left: 22px;
    }
  }
}

@media (max-width: 319px) {
  body {
    display: none;
  }
}

